<td><%= record_list.id %></td>
<td><%= simple_format_hash(record_list.parameters) %></td>
<td><%= simple_format_hash(record_list.columns) %></td>
<td class="ui labels">
  <%= link_to 'pdf', data_record_record_list_path(@data_record, record_list, format: 'pdf'), target: '_blank', class: 'ui label' %>
</td>

